<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<nav>
			<a href="{{ url_for('home') }}">{{ _('Home') }}</a>
			<a href="{{ url_for('get_kitchen_meals') }}">{{ _('Kitchen meals') }}</a>
			<div style="flex:1"></div>
			<a href="{{ url_for('contact') }}">{{ _('Contact') }}</a>
		</nav>
		<main>
{% for category, message in get_flashed_messages(with_categories=true) %}
			<p class="alert-{{ category }}">{{ message }}</p>
{% endfor %}
{%- block content %}{% endblock %}
		</main>
	</body>
</html>
