{% extends "base.html" %}
{% block title %}{{ _('Kitchen meals') }}{% endblock %}
{% block content %}
<a href="{{ url_for('get_kitchen_meal_form') }}">{{ _('Add meal') }}</a>
<h1>{{ _('Kitchen meals') }}</h1>
{%- for meal in meals %}
	<h2>{{ meal.name }} {{ _('in') }} {{ meal.kitchen }}</h2>
	{%- if meal.description %}
	<p>{{ meal.description }}</p>
	{%- endif %}
	{%- if meal.image %}
	<img src="{{ meal.image }}">
	{%- endif %}
	{%- if meal != meals[-1] %}
	<hr>
	{%- endif %}
{%- endfor %}
{%- endblock %}
